<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.fourseasonsapiaries.ame2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>AME-4SA</name>
  <description>
        Apiary Management and Evaluation software for Four Seasons Apiaries, LLC.
    </description>
  <author email="info@fourseasonsapiaries.com" href="www.fourseasonsapiaries.com">
      Joe Meyer
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="http://*/*" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="500"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="www/img/splash-logo.png" />
        <splash src="www/img/splash-logo.png" density="mdpi"/>
        <splash src="www/img/splash-logo.png" density="hdpi"/>
        <splash src="www/img/splash-logo.png" density="xhdpi"/>
  </platform>
</widget>
