<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>AME-4SA</title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

  </head>
  <body ng-app="ame" ng-controller="AMECtrl">
    <ion-side-menus>


      <!-- Left menu = Search Colonies and Queens -->
      <ion-side-menu side="left">
        <header class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search for Colony or Queen">
          </label>
        </header>
        <ion-content class="has-header">
        </ion-content>
      </ion-side-menu>

      <!-- Main = List Yards & basic info then navigate to them -->
      <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
          <ion-nav-buttons side="left">
            <button class="button button-icon ion-home"> Four Seasons Apiaries</button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="has-header">
          <!-- List of Yards -->
          <div class="list">

            <div class="item item-divider">
              Yard - # Colonies - Days since visit
            </div>

            <a class="item" ng-repeat="yard in yards" ng-click="goToYard()">
              <i class="icon ion-location"> {{yard.name}} -</i>
              <i class="icon ion-ios-box"> {{yard.numColonies}} - </i>
              <i class="icon ion-clipboard"> 4/9 days ago</i>

            </a>
          </div>


          <form ng-submit="createYard(yard)">
            <div class="item item-input">
              <label class="item item-input">
                <input type="text" placeholder="New Yard Name" ng-model="yard.name">
              </label>
              <div class="col">
                <button type="submit" class="button button-positive">Add Yard <i class="icon ion-location"></i></button>
              </div>
            </div>
          </form>


        </ion-content>
        <ion-footer-bar>
          <button menu-toggle="left" class="button button-icon ion-search"></button>
        </ion-footer-bar>

      </ion-side-menu-content>




    </ion-side-menus>

  </body>
</html>
