<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- this page's js -->
    <script src="js/yard.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
  </head>
  <body ng-app="ame2" ng-controller="AME2Ctrl">
    <ion-side-menus>

      <!-- Right menu = Create Colony -->
      <ion-side-menu side="right">
        <header class="bar bar-header bar-stable">
          <h1 class="title">Create Colony</h1>
        </header>
        <ion-content class="has-header">
          <form ng-submit="createColony(colony)">
            <div class="list">
              <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="date">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Colony Number</span>
                <input type="number" placeholder="001" ng-model="colony.number">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Origin</span>
                <input type="text" placeholder="Note about start of this colony" ng-model="colony.origin">
              </label>
            </div>


            <div class="padding">
              <button type="submit" class="button button-outline button-dark button-icon">Add Colony  <i class="icon ion-ios-box"></i></button>
            </div>
          </form>
        </ion-content>
      </ion-side-menu>

      <!-- Main = List Yards & basic info then navigate to them -->
      <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
          <ion-nav-buttons side="right">
            <!-- Toggle Right side menu -->
            <button menu-toggle="right" class="button button-icon ion-ios-box">+</button>
          </ion-nav-buttons>
          <ion-nav-title>
            <a class="button button-icon ion-home" href='index.html'></a>
            <i class="icon ion-location">Maple Acres</i>
          </ion-nav-title>
          <ion-nav-buttons side="left">
            <button class="button button-icon ion-search" ng-click="goBack()"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content class="has-header">
          <!-- List of Colonies in this yard -->
          <ion-list>

            <ion-item ng-repeat="colony in colonies">
              <a class="item item-icon-left item-icon-right" href="colony.html" on-hold="moveColony()">
                <i class="icon ion-ios-box">{{colony.name}}</i>
              </a>

            </ion-item>
            <div class="padding">
              *long press to move colony
            </div>
          </ion-list>
        </ion-content>

      </ion-side-menu-content>


    </ion-side-menus>

  </body>
</html>
