<ion-header-bar class="bar-dark">
  <button class="button button-icon ion-home" ng-click="goHome()">></button>
  <button class="button button-icon ion-location" ng-click="goToYard()">{{currentYard.name}} ></button>
  <button class="button button-icon ion-ios-box" ng-click="goToColony()"> {{currentColony.number}}</button>
  <div class="col">
  </div>

</ion-header-bar>
<ion-content class="has-header">

  <label class="item item-button-right item-text-wrap" ng-show="currentColony.id !=new">
    <p >Active on {{currentColony.date_active| date:'MMM d, yyyy'}}</p><p>Origin: {{currentColony.origin}}.</p>
    <button class="button button-outline button-dark" ng-click="showColonyInactivePopup(currentColony)">Inactive</button>
  </label>


  <!--display reminder notes as a list at the top.-->
  <div class="list">
    <a class="item item-icon-left item-text-wrap" ng-repeat="reminder in reminders" on-hold="dismissReminder(reminder)">
      <i class="icon ion-android-alert"></i>
      {{reminder.note}}
      <!--TODO:Long press to dismiss (remove reminder flag) -->
    </a>
  </div>

  <div class="card" ng-show = "currentColony.id==new">
    <div class="list">
      <label class="item item-input item-button-right">
        <span class="input-label">Date Active</span>
        <button class="button button-outline button-dark" ng-click="openDatePicker()">{{newColony.date_active | date:'MMM d, yyyy'}} </button>
      </label>
      <label class="item item-input">
        <span class="input-label ion-ios-pricetag-outline"> Number</span>
        <input id="newColonyNumber" ng-model="newColony.number" min="1" max="999" type="number" placeholder="200" ng-click="changeTextBlack()">
      </label>
      <label class="item item-input item-stacked-label">
        <span  class="input-label">Origin</span>
        <input ng-model="newColony.origin" type="text" placeholder="Note about start of this colony">
      </label>
    </div>
    <div class="padding">
      <button ng-click="createColony(newColony)" class="button button-positive button-block">Create Colony  <i class="icon ion-ios-box"></i></button>
    </div>
  </div>

  <!--Card with a summary of the last visit.-->
  <div class="card" ng-show="numOfVisits>0">

    <div class="item item-divider item-dark">
      <b>{{numOfVisits}} Visits</b>
    </div>
    <div class="row">
      <button class="button button-positive icon-left ion-chevron-left col-25" ng-click="changeVisitViewBy(1)" ng-disabled = "visitIndex>=numOfVisits-1"> Older</button>
      <div class="col col-50 text-center">
        <h3>{{daysAgo}} days ago </h3>
      </div>
      <button class="button col-25 button-positive icon-right ion-chevron-right" ng-click="changeVisitViewBy(-1)" ng-disabled = "visitIndex<=0"> Newer </button>
    </div>



    <div class="item">
      {{visit.date_time| date:'MMM d, yyyy @ hh:mm a'}}
      <span class="item-note"> {{daysAgo}} days {{hoursAgo}}h ago</span>
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-record" id="visitQueenColorBtn"></i><b>{{visitQueen.id}}</b> {{visitQueen.name}}
      <span class="item-note" id="pastQueenStatus" ng-show="visit.queen_status">
        {{visit.queen_status}}
      </span>
    </div>
    <div class="item">
      <!--TODO fill with actual db info-->
      <b>{{visit.qty_boxes}}</b> x {{visit.hive_type}} box {{visit.disease}}, {{visit.is_feeding}}, {{visit.is_feeding}}, {{visit.is_feeding}}
      <span class="item-note">
      </span>
    </div>
    <div class="row">
      <button class="button icon button-outline button-assertive ion-trash-a col-15" ng-click="deleteVisit(visit)"></button>
      <button class="button button-outline button-dark ion-edit icon-right col-25 col-offset-50" ng-click="goToVisit(visit)"> Edit </button>
    </div>

  </div>

  <button class="button button-block button-positive col-33 col-offset-66" ng-click="newVisit()" ng-hide="currentColony.id==new">New Visit</button>


</ion-content>
