<ion-header-bar class="bar-dark">
  <h1 class="title">Four Seasons Apiaries</h1>
</ion-header-bar>

<ion-content class="has-header" ng-init="loadYards()">
  <!-- List of Yards -->
  <div class="list">

    <div class="item item-divider">
      Yard - # Colonies - Days since visit
    </div>
    <a class="item" ng-repeat="yard in yards" ng-click="goToYard(yard)">
      <i class="icon ion-location"> {{yard.name}} -</i>
      <i class="icon ion-ios-box" ng-init="countColoniesInYard(yard.id)"> {{numColoniesInYard}} - </i>
      <i class="icon ion-clipboard"> 4/9 days ago</i>
    </a>
  </div>

  <form ng-submit="createYard()">
    <div class="item item-input">
      <label class="item item-input">
        <input id="newyardname" type="text" placeholder="New Yard Name">
      </label>
      <div class="col">
        <button type="submit" class="button button-positive">Add Yard <i class="icon ion-location"></i></button>
      </div>
    </div>
  </form>

</ion-content>
<ion-footer-bar>
  <button type="submit" class="button button-icon ion-location" on-hold="dropYards()">X</button>
  <button type="submit" class="button button-icon ion-ios-box" on-hold="dropColonies()">X</button>
  <button type="submit" class="button button-icon ion-female" on-hold="dropQueens()">X</button>
  <button type="submit" class="button button-icon ion-clipboard" on-hold="dropVisits()">X</button>
  <div class="col">
    Drop Tables!
  </div>
</ion-footer-bar>
