
  <ion-header-bar class="bar-dark">
    <button class="button button-icon ion-home" ng-click="goHome()">></button>
    <button class="button button-icon ion-location" ng-click="goToYard()">{{currentYard.name}} ></button>
    <button class="button button-icon ion-ios-box" ng-click="goToColony()"> {{currentColony.number}} ></button>
    <button class="button button-icon ion-clipboard">{{visit.id}}</button>
  </ion-header-bar>

  <ion-content class="has-header">
    <div class="list padding ">
      <p ng-hide="visit.yard_id == currentYard.id" class="positive">Colony was in {{visit.yard_name}}</p>
      <div class="row">
        <button class="button col-60 button-block button-outline button-dark" ng-click="openDatePicker()">{{visit.date_time | date:'EEE - MMM d, yyyy'}}</button>
        <button class="button col-40 button-block button-outline button-dark" disabled>{{visit.date_time | date:'hh:mm a'}}</button>
      </div>

      <div class="row">
        <div class="col-50">
          <label class="item item-input item-select" >
            <div class="input-label"> Boxes
            </div>
            <select id="hiveTypeSelector" ng-model="visit.hive_type_id" ng-options="hiveType.id as hiveType.type for hiveType in hiveTypes">          </select>
          </label>
        </div>
        <div class="button-bar col-50">
          <button class="button button-outline" ng-click="changeNumBoxes(-1)">-</button>
          <button class="button button-outline button-dark"><b id="numberBoxesBtn">{{visit.qty_boxes}}</b></button>
          <button class="button button-positive" ng-click="changeNumBoxes(1)">+</button>
        </div>
      </div>

      <label class="item item-input item-select item-dark" ng-click = "showChangeQueenPopup()">
        <div class="input-label"><i class="icon ion-record" id="queenMarkIcon"></i> <b> {{reigningQueen.id}} </b> {{reigningQueen.name}}</div>
        <select ng-model="visit.queen_status_id" ng-change="queenStatusChange()" ng-disabled="reigningQueen.date_inactive !=null" ng-options="status.id as status.status for status in queenStatuses">{{status.status}}</select>
      </label>


      <label class="item item-input">
        <span class="input-label">F.O.Bees</span>
        <input type="number" ng-model="visit.frames_of_bees">
      </label>

      <label class="item item-input">
        <span class="input-label">F.O.Brood</span>
        <input type="number" ng-model="visit.frames_of_brood">
      </label>

      <li class="item item-toggle">
        Bad Temper
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="visit.has_temper">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>


      <label class="item item-input item-select" >
        <div class="input-label">Diseases</div>
        <select ng-model="visit.disease_id" ng-options="disease.id as disease.disease for disease in diseases">       </select>
      </label>

      <li class="item item-toggle">
        Feeding
        <label class="toggle toggle-energized">
          <input type="checkbox" ng-model="visit.is_feeding">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <item class="row">
        <button class="button button-block button-positive col-25" ng-click='showAddNotePopup()'>+Note</button>
        <button class="button button-block button-positive col-25 col-offset-10" ng-click='showAddDataPopup()'>+Data</button>
        <button class="button button-block button-positive col-offset-10 col-30" ng-click='saveVisit(visit)'>Save</button>
      </item>

    </div>
  </ion-content>
