<ion-side-menus>

  //Enter a note or data
  <ion-side-menu side="left">
    <ion-content>
      <div class="item item-divider item-dark">
        Enter a Note
      </div>
      <form ng-submit="createNote(note)">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <textarea rows="4" placeholder="Type Note Text"></textarea>
          </label>
          <li class="item item-toggle">
            Reminder
            <label class="toggle toggle-assertive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <item class="col col-50 col-offset-50 padding">
            <button type="submit" class="button button-block button-positive">Save Note</button>
          </item>
        </div>
        </div>
      </form>
      <div class="item item-divider item-dark">
        Record Data
      </div>
      <form ng-submit="createMeasurement">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Test Type
            </div>
            <select class="item item-input item-select">
              <option>Varroa/300</option>
              <option>Hive Weight (lbs)</option>
              <option selected>Honey Harvest (lbs)</option>
              <option>Hygienic Empty</option>
              <option>Hygienic Unclean</option>
            </select>
          </label>
          <label class="item item-input">
            <input type="number" placeholder="Qty measured">
          </label>
          <item class="col col-50 col-offset-50 padding">
            <button type="submit" class="button button-block button-positive">Save Data</button>
          </item>


        </div>
      </form>


    </ion-content>
  </ion-side-menu>

  <!-- Right menu = Create a queen -->
  <ion-side-menu side="right">

    <ion-content>
      <div class="item item-divider item-dark">
        New Queen
        <badge class="badge badge-light ion-female"> </badge>
      </div>
      <form>
        <div class="list">
          <label class="item">
            <button class="button button-outline button-dark">Change Mark Color</button>
          </label>
          <label class="item">
            <span class="label">Emerge Date</span>
            <button class="button button-outline button-dark">{{queenEmergeDate | date:'MMM d, yyyy'}}</button>
          </label>
          <label class="item item-input">
            <span class="input-label">Queen Number</span>
            <input id = "newQueenNumber" type="text" placeholder="999">
          </label>
          <label class="item item-input">
            <span class="input-label">Mother Number</span>
            <input id = "newQueenMotherNumber" type="text" placeholder="508">
          </label>
          <label class="item item-input item-stacked-label">
            <span  class="input-label">Origin</span>
            <input id = "newQueenOrigin" type="text" placeholder="Note about queen's origin">
          </label>
        </div>
        <div class="padding">
          <button ng-click="createQueen()" class="button button-positive button-block">Add Queen <i class="icon ion-female"></i></button>
        </div>
      </form>
    </ion-content>
  </ion-side-menu>

  <!-- Main = Observations -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon ion-compose">+</button>
        <h1 class="title ion-clipboard">{{visitTitle}}</h1>
        <button menu-toggle="right" class="button button-icon ion-female">+</button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content class="has-header">

      <div class="list">
        <button class="button col-80 col-offset-10 button-block button-outline button-dark">{{currentVisit.date_time | date:'EEE - MMM d, yyyy @ hh:mm a'}}</button>
        <div class="item item-divider item-dark">
          Observed
          <badge class="badge badge-light ion-female"> </badge>
        </div>
        <label class="item item-input item-select">

          <select>
            <option ng-repeat="status in queenStatuses">{{status.status}}</option>
          </select>
          <div class="input-label">
            Queen Status
          </div>
        </label>
        <label class="item item-input">
          <span class="input-label">F.O.Bees</span>
          <input type="number" ng-model="currentVisit.frames_of_bees_start">
        </label>
        <label class="item item-input">
          <span class="input-label">F.O.Brood</span>
          <input type="number" ng-model="currentVisit.frames_of_brood_start">
        </label>
        <li class="item item-toggle">
          Bad Temper
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="currentVisit.has_temper">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <label class="item item-input item-select">
          <div class="input-label">
            Diseases
          </div>
          <select>
            <option selected>None noticed</option>
            <option ng-repeat="disease in diseases">{{disease.disease}}</option>
          </select>
        </label>
        <div class="item item-divider item-dark">
          Changes from Visit
          <badge class="badge badge-light ion-female"> </badge>
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Hive Type
          </div>
          <select>
            <option ng-repeat="type in hiveTypes">{{type.type}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Hive Bodies</span>
          <input type="number" ng-model="currentVisit.qty_boxes">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Queen
          </div>
          <select>
            <option ng-repeat="queen in colonysQueens">{{queen.name}}</option>
            <option>none</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Queen Status
          </div>
          <select>
            <option ng-repeat="status in queenStatuses">{{status.status}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">F.O.Bees</span>
          <input type="number" ng-model="currentVisit.frames_of_bees_end">
        </label>
        <label class="item item-input">
          <span class="input-label">F.O.Brood</span>
          <input type="number" ng-model="currentVisit.frames_of_brood_end">
        </label>
        <li class="item item-toggle">
          Feeding
          <label class="toggle toggle-energized">
            <input type="checkbox" ng-model="currentVisit.is_feeding">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <item class="col col-offset-20 col-60 padding">
          <button class="button button-block button-positive" ng-click='saveVisit()'>Save Visit</button>
        </item>

      </div>
    </ion-content>

    //Footer navigation
    <ion-footer-bar class="bar bar-stable">
      <button class="button button-icon ion-home" ng-click="goHome()">></button>
      <button class="button button-icon ion-location" ng-click="goToYard()">{{currentYard.name}} ></button>
      <button class="button button-icon ion-ios-box" ng-click="goToColony()"> {{currentColony.number}} ></button>
      <div class="col"></div>
    </ion-footer-bar>

  </ion-side-menu-content>


  </ion-side-menus>
