<ion-side-menus>

  //Enter a note or data
  <ion-side-menu side="right">
    <ion-content>
      <div class="item item-divider item-dark">
        Enter a Note
      </div>
      <form ng-submit="createNote(note)">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <textarea rows="4" placeholder="Type Note Text" ng-model="note.note"></textarea>
          </label>
          <li class="item item-toggle">
            Reminder
            <label class="toggle toggle-assertive">
              <input type="checkbox" ng-model="note.is_reminder">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <item class="col col-50 col-offset-50 padding">
            <button type="submit" class="button button-block button-positive">Save Note</button>
          </item>
        </div>
        </div>
      </form>
      <div class="item item-divider item-dark">
        Record Data
      </div>
      <form ng-submit="createMeasurement">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Data Type
            </div>
            <select class="item item-input item-select">
            <!--TODO: replace with table-->
              <option ng-repeat="dataTypes in dataTypes">{{dataTypes.type}}</option>
            </select>
          </label>
          <label class="item item-input">
            <input type="number" placeholder="Qty measured">
          </label>
          <item class="col col-50 col-offset-50 padding">
            <button type="submit" class="button button-block button-positive">Save Data</button>
          </item>
          <div class="item item-divider item-dark">
            Notes and Data
          </div>
            <!--TODO:Display list of notes and data-->
          <p>  -> Honey Harvested (lbs) 50           </p>
          <p>-> Removed some drone comb</p>
        </div>
      </form>


    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>
    <ion-header-bar class="bar-dark">
      <button class="button button-icon ion-home" ng-click="goHome()">></button>
      <button class="button button-icon ion-location" ng-click="goToYard()">{{currentYard.name}} ></button>
      <button class="button button-icon ion-ios-box" ng-click="goToColony()"> {{currentColony.number}} ></button>
      <button class="button button-icon ion-clipboard">{{visit.id}}</button>
      <button menu-toggle="right" class="button button-icon ion-compose" ng-click='saveVisit(visit)'></button>
    </ion-header-bar>

    <ion-content class="has-header">
      <div class="list padding ">
        <p ng-hide="visit.yard_id == currentYard.id" class="positive">Colony was in {{visit.yard_name}}</p>
        <div class="row">
          <button class="button col-60 button-block button-outline button-dark" ng-click="openDatePicker()">{{visit.date_time | date:'EEE - MMM d, yyyy'}}</button>
          <button class="button col-40 button-block button-outline button-dark">{{visit.date_time | date:'hh:mm a'}}</button>
        </div>

        <label class="item item-input item-select item-dark" ng-click = "removeReigningQueen()">
          <div class="input-label"><i class="icon ion-record" id="queenMarkIcon" ></i> {{reigningQueen.id}}-{{reigningQueen.name}}</div>
          <select ng-model="visit.queen_status_id" ng-change="queenStatusChange()" ng-disabled="reigningQueen.date_inactive !=null" ng-options="status.id as status.status for status in queenStatuses">{{status.status}}</select>
        </label>

        <label class="item item-input item-select" ng-show="reigningQueen==null">
          <div class="input-label">Queen</div>
          <select ng-model="visit.queen_id" ng-options="queen.id as queen.id for queen in colonysQueens" ng-change="reigningQueenChanged()">          </select>
        </label>

        <label class="item item-input">
          <span class="input-label">F.O.Bees</span>
          <input type="number" ng-model="visit.frames_of_bees">
        </label>

        <label class="item item-input">
          <span class="input-label">F.O.Brood</span>
          <input type="number" ng-model="visit.frames_of_brood">
        </label>

        <li class="item item-toggle">
          Bad Temper
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="visit.has_temper">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <label class="item item-input item-select" >
          <div class="input-label">Hive Type</div>
          <select ng-model="visit.hive_type_id" ng-options="hiveType.id as hiveType.type for hiveType in hiveTypes">          </select>
        </label>

        <label class="item item-input">
          <span class="input-label">Hive Bodies</span>
          <input type="number" ng-model="visit.qty_boxes">
        </label>

        <label class="item item-input item-select" >
          <div class="input-label">Diseases</div>
          <select ng-model="visit.disease_id" ng-options="disease.id as disease.disease for disease in diseases">       </select>
        </label>

        <li class="item item-toggle">
          Feeding
          <label class="toggle toggle-energized">
            <input type="checkbox" ng-model="visit.is_feeding">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <item class="col col-offset-20 col-60 padding">
          <button class="button button-block button-positive" ng-click='saveVisit(visit)'>Save Visit</button>
        </item>

      </div>
    </ion-content>


  </ion-side-menu-content>


  </ion-side-menus>
