<ion-side-menus >
  <!-- Right menu = Create Colony -->
  <ion-side-menu side="right">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Create Colony</h1>
    </header>
    <ion-content class="has-header">
      <form ng-submit="createColony()">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Colony Number</span>
            <input id = "newColonyNumber" type="text" placeholder="15-001" ng-model="colony.number">
          </label>
          <label class="item item-input item-stacked-label">
            <span  class="input-label">Origin</span>
            <input id = "newColonyOrigin" type="text" placeholder="Note about start of this colony" ng-model="colony.origin">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-outline button-dark button-icon">Add Colony  <i class="icon ion-ios-box"></i></button>
        </div>
      </form>
    </ion-content>
  </ion-side-menu>

  <!-- Main = List Yards & basic info then navigate to them -->
  <ion-side-menu-content ng-init="loadColonies()">
    <ion-header-bar class="bar-dark">
      <h1 class="title ion-location"> {{yardName}}</h1>
      <button menu-toggle="right" class="button button-icon ion-ios-box">+</button>
    </ion-header-bar>
    <ion-content class="has-header">
      <!-- List of Colonies in this yard -->
      <ion-list>

        <ion-item ng-repeat="colony in colonies">
          <a class="item item-icon-left item-icon-right" ng-click="goToColony(colony)" on-hold="moveColony(colony)">
            <i class="icon ion-ios-box">{{colony.name}}</i>
          </a>

        </ion-item>
        <div class="padding">
          *long press to move colony to yard 1
        </div>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-stable">
      <button class="button button-icon ion-home" ng-click="goHome()">></button>
    </ion-footer-bar>

  </ion-side-menu-content>
</ion-side-menus>
